header
{
    background-image: url(/images/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: navajowhite;
    height: 200px;
    
}
header h1
{
    color: #ffc800;
}
nav
{
    background-color: grey;
    padding: 10px;
}
nav ul
{
    text-align: center;
    font-size: 1em;
}
nav ul li
{

    list-style-type: none;
    background-color: #B2B2B2;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid rgb(152, 236, 82);
    border-radius: 10px;
}
nav ul li:hover
{
    background-color: rgb(112,27,186);
}
main
{
    padding: 0px;
    margin-top: 10px;
    background-color: grey;
}
main p
{
    color:#ffff;
    font-size: 2em;
}
body
{
    color: white;
    font-family: Verdana;
    background-color: #000000;
    display:flow-root;
    padding-bottom: 8em;
    margin-left: 0px;
    margin-right: 0px;
}
footer
{
    clear: both;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flow-root;
}
footer p
{
    text-align: center;
    color: rgb(0, 0, 0);
    
}
#active
{
    border: 2px solid yellow;
    border: dotted;
}
section
{
    display: flow-root;
}
.left
{
    float: left;
    width: 40%;
    max-width: 800px;
    height: 100%;
}
.right
{
    float: right;
    width: 40%;
    max-width: 800px;
    height: 100%;
}
.colDetail
{
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 50px;
    padding: 2px;
}






